.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: #ffffff;
    padding: 10px;
    grid-template-rows: 80px 200px;
  }
  
  .grid-container > div {
    background-color: cryal;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;  
  }
  
  .item{
    grid-column-start: 1;
    grid-column-end: 5;
    border: 4px solid rgba(0, 0, 0, 0.8);
   background-color: aqua;
  }
  .item1{
    grid-column-start: 1;
    grid-column-end: 4;
    border: 4px solid rgba(0, 0, 0, 0.8);
   background-color: red;
  }
  .item2{
    grid-column-start: 4;
    grid-column-end: 4; 
    border: 4px solid rgba(0, 0, 0, 0.8);
    background-color: orange;
   }
   .item3{
    grid-column-start: 1;
    grid-column-end: 2;
    border: 4px solid rgba(0, 0, 0, 0.8);  
    background-color: green;
  }
  .item4{
    grid-column-start: 2;
    grid-column-end: 3;
    border: 4px solid rgba(0, 0, 0, 0.8);
    background-color: rgb(81, 81, 207)
   }
   .item5{
    grid-column-start: 3;
    grid-column-end: 5;
    border: 4px solid rgba(0, 0, 0, 0.8);
    background-color: purple;
   }